{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modifier les site{% endblock %}

{% block body %}
    <h1>Modifier les Portfolio's</h1>

    {{ include('portfolio/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="d-flex mt-5">
        {{ include('portfolio/_delete_form.html.twig') }}
        <a href="{{ path('portfolio_index') }}" class="ml-3">Retour à la liste</a>
    </div>
{% endblock %}
