{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Portfolio{% endblock %}

{% block body %}
    <h1>Création d'un nouveau site</h1>

    {{ include('portfolio/_form.html.twig') }}

    <a href="{{ path('portfolio_index') }}">Retour à la liste</a>
{% endblock %}{% form_theme form 'bootstrap_4_layout.html.twig' %}

