<form method="post" action="{{ path('job_delete', {'id': job.id}) }}" onsubmit="return confirm('Tu es sur de vouloir supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
    <button class="btn">Supprimer</button>
</form>
