.text-admin-form{
    color: white;
}
.admin-dashboard{
    color: red;
}
.body-admin{
    height: 800px;
}
.logo-icon{
    color: red;
    width: 75px;
    height: 75px;
}
.card-admin{
    background-color: #191919;
    height: 150px;
    width: 150px;
}
a{
    color: rebeccapurple;
}
