@import "assets/scss/_components/navbar";
@import "assets/scss/admin";

html {
    height: 100%;
}

body {
    background: linear-gradient(to right, #222222, #222222); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    color: white;
}

a p {
    color: white;
}

th {
    color: white;
}

td {
    color: white;
}

// MAIN CONTENT
.main-div {
    height: 800px;
}

.name-main {
    height: 20%;
}

.role-main {
    height: 20%;
}

// SKILL
.skill-div {
    background-color: #191919;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);

}

.image-skill {
    height: 75px;
    width: 75px;
}

// JOB
.job-logo {
    height: 100px;
    width: 100px;
}

.card {
    width: 450px;
}

.card-body {
    background-color: #191919;
}

.card-title {
    color: white;
}

.card-text {
    color: white;
}

// FORMATION

.formation-logo {
    height: 100px;
    width: 100px;
}

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
