
a{
    color: rgba(255, 255, 255, 0.63);
}
.portrait-nav{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.centernav{
    display: flex;
    justify-content: center;
}
.nav{
    background-color: #191919;
}
.fa-sign-out-alt{
    width: 30px;
    height: 30px;
    color: rebeccapurple;
}
.fa-users-cog{
    width: 30px;
    height: 30px;
    color: rebeccapurple;
}
