<div class="d-flex justify-content-center align-items-center main-div">
    <div class="mr-2 name-main">
    <h1>Quentin</h1>
    <h1>Adadain</h1>
    </div>
    <div class="mt-4 role-main">
    <p class="text-white mb-0">Développeur PHP/Symfony</p>
    <h1 class="text-white mb-0 mt-2">Full-Stack</h1>
    </div>
</div>

