<div class="d-flex justify-content-center align-items-center main-div">
    <div class="mr-2 name-main mb-1">
        <h1>Quentin Adadain</h1>
        <h1>Développeur Full-Stack</h1>
        <div class="type-js headline m-0">
            <h1 class="text-js text-white mb-0 mt-3">PHP/Symfony</h1>
        </div>
    </div>
</div>

